@import url('https://fonts.googleapis.com/css?family=Merriweather');
h1 {
    font-family: 'Merriweather', serif;
    background-color:#6660ff;
    text-align: center;
    border: 7px solid black;
    margin-top: -100px;
    line-height:35px;
    width: 40%;
    left:0;
    margin:auto;
    text-align:center
}


.teachers {
    background-color:#ff5050;
    font-size: 30px;
}
#flowers{
font-family: 'Indie Flower', cursive;
background-color:gray;
font-size:25px;
}
.flower{
    background-color:black;
    color:white;
    font-family: 'Indie Flower', cursive;
    font-size:30px;
}
a:visited{
    font-size:40px;
    color:yellow;
}