

h1 {
    font-family: 'Merriweather', serif;
    background-color:#cc0066;
    text-align: center;
    border: 7px solid black;
    margin-top: -100px;
    line-height:35px;
    width: 40%;
    left:0;
    margin:auto;
    text-align:center;
}

.weekend {
    display: table;
    background-color:#0066ff;
    color:purple;
    font-size: 40px;
    text-align:center;
    margin: 0 auto;
}
.weekend:hover {
    background-color:#40e0d0;
    font-size:30px;
}
#music-picture{
    width:75%;
}
a:visited{
    font-size:40px;
    color:yellow;
}